html {
  min-height: 100%;
}

div { 
  text-align: center; 
}

/*-----------------------------Image-----------------------------*/

header img {
  width: 29%;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 0px
}
 
main img {
  width: 50%;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 0px
}

/*-----------------------------Header-----------------------------*/

h1 {
  font-family: Bookman, URW Bookman L, serif, cursive;
  font-size: 76px;
  color: #bea841;
  text-align: center;
  margin-top: -5px
}

h2 {
  font-family: Bookman, URW Bookman L, serif, cursive;
  font-size: 54px;
  color: #d0f8ff;
  text-align: center;
}

h3 {
  font-family: Bookman, URW Bookman L, serif, cursive;
  font-size: 36px;
  color: #feffd0;
  text-align: center;
  margin-top: 60px;
}

/*-----------------------------P-----------------------------*/
 
p {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #ffffff;
  margin-top: -1000px;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin-top: 300px;
}

/*-----------------------------Lists-----------------------------*/

ul { 
  display: inline-block;
  font-size: 25px;
  color: #eeebce;
  text-align: left;
}

ol { 
  display: inline-block;
  font-size: 25px;
  color: #eeebce;
  text-align: left;
}

/*-----------------------------HR-----------------------------*/

hr {
  background: url(images/gold.png);
  background-size: contain;
    height: 18px;
    border: 0;
    position:relative;
}

ul hr{
  background: url(images/gold.png);
  background-size: contain;
    height: 18px;
    border: 0;
    position:relative;
}

/* -----------------------------Links------------------------- */

nav {
  margin-left: 0px;
  text-align: center;
}

nav a {
  margin-right: 40px;
  font-size: 20px;
  color: #8f99a4;
  font-family: Quattrocento, sans-serif;

}

nav a:visited{
  color:#2133d6ab
}

nav a:hover {
  color: #777;
}

nav a:active{
color:#e9d30eab
}

nav a:last-of-type {
  margin-right: 20px;
}

a {
  color: #7356b6;
  font-family: Quattrocento, sans-serif;

}

 a:visited{
  color:#21d69ae0
}

a:hover {
  color: rgb(21, 219, 209);
}

a:active{
color:#cff5c4fd
}

footer a:visited{
color:#2133d6ab
}

footer a:hover {
  color: #777;
}

footer a:active{
color:#e9d30eab
}


/*-------------------------------------Classes----------------------------------------------*/

.home{
  text-align: center;
  color: #ffffff;
  margin-top: 200px;
}

.imageContainer {
  text-align: center;
}

.about{
  text-align: center;
  color: #eeebce;
  margin-top: 100px;
}

.about2{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 0px;
}

.body {
  background-image: url(images/mountains_edit.jpg);
  background-size: cover;
  background-repeat: initial;
  min-height: 100%;
  padding-bottom: 220px;
  position: absolute;
}

.body2 {
  background-image: url(images/Home_square.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  min-height: 100%;
  padding-bottom: 220px;
  position: absolute;
}

.body3 {
  background-image: url(images/HTML.png);
  background-size: cover;
  background-repeat:repeat;
  min-height: 100%;
  padding-bottom: 220px;
  position: absolute;
}

.contact{
  text-align: center;
  color: #eeebce;
  margin-top: 140px;
}

.contactol {
  margin-top: 90px;
}

/* ---------------------------------------ID's-----------------------------------------------*/

#wrap {
  min-height: 100%;
}

#footer {
  position: relative;
  margin-top: -180px;
  height: 0px;
  clear: both;
}


#footer2 {
  position: relative;
  margin-top: -400px;
  height: 0px;
  clear: both;
}
